<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <h2> Welcome Pooja !! </h2>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
	<div ng-app="" ng-controller="mainPage">
	<nav class="navbar-inverse navbar-fixed-top">
	<div class="container">
	<div class="navbar-header">
	<a class="nav navbar-nav navbar-form" href="#">
		<img alt="Logo" src="../logo1.jpg" width="120" style="margin-left:-110px">
	</a>
	</div>
	<ul class="nav navbar-nav navbar-form">
		<li class="active">
			<a href="index.ejs" ng-click="home()">Home</a>
		</li>
		<li class="active">
			<a href="about.ejs" ng-click="home()">About</a>
		</li>
		<li class="active">
			<a href="friendList.ejs" ng-click="home()">Friend List</a>
		</li>
		<li class="active">
			<a href="interest.ejs" ng-click="home()">Interest</a>
		</li>
		<li class="active">
			<a href="createGroup.ejs" ng-click="home()">Groups</a>
		</li>
		
		
	</ul>
	<form class="navbar-form navbar-right" role="searchPeople" style="margin-right: -110px;">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search for people" ng-model="searchPerson">
		</div>
		<button type="submit" class="btn btn-default navbar-btn" ng-click="search()">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
		<button type="submit" class="btn btn-default navbar-btn" ng-click="signOut()">Sign Out</button>
	</form>
	</div><!-- /.container-fluid -->
	</nav>
	<br>
	<div class="row jumbotron">
	<div class="col-sm-1">
		<img alt="Background" src="../fbimg.jpg" width="1360" height="160" style="margin-left:-10px">
	
	
      <h4>Welcome Pooja !!</h4>
 	
	</div>	
	</div>

<form class="form-horizontal" role="form">
 <div class="col-sm-10">
 
 <h2><b> About <b></h2>
  <br>
    <div class="input-group">
     Enter the current City : <input type="text" class="form-control" id="current_city" name = "current_city" placeholder="City Name">
     </div>
     
      <br>
      <div class="input-group">
     Enter the Sex : <input type="text" class="form-control" id="sex" name = "sex" placeholder="Sex">
     </div>
     
     <br>
    <div class="input-group">
      Enter the Work : <input type="text" name = "work" id = "work" class="form-control" placeholder="Where Have You Worked">
      </div>
      
      <br>
    <div class="input-group">
      Enter the Education : <input type="education" name = "education" id = "education" class="form-control" placeholder="Education">
     </div>
      <br>
    <div class="input-group">
      Enter the Phone Number : <input type="text" class="form-control" id="phoneno" name = "phoneno" placeholder="Phone Number">
     </div>
     
      <br>
      <div class="input-group">
     Enter the Life Event : <input type="text" class="form-control" id="life_event" name = "life_event" placeholder="Life Event">
     </div>
     
     <br>
    <div class="input-group">
      Enter the Life Event Date : <input type="text" name = "life_event_date_" id = "life_event_date_" class="form-control" placeholder="Life Event Date">
      </div>
     
       <br>
    <button type="submit" class="btn btn-default">Save Changes</button>
    
</div>
</div>
</body>
</html>