<!DOCTYPE html>
<html>
  <head>
    <title>Sign  Up Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h2> Welcome to Sign up Page !! </h2>
  </head>
  <body>
    <form action = "/usersignup" class="navbar-form navbar-right" role="onlySignIn">    
	
		<div class="form-group">
		<input type="fname" name = "fname" id = "fname" class="form-control" placeholder="Enter the First Name"><br/>
		<input type="lname" name = "lname" id = "lname" class="form-control" placeholder="Enter the Last Name"><br/>
			<input type="email" name = "email" id = "email" class="form-control" placeholder="Email Address"><br/>
			<input type="password" name = "pass" id = "pass" class="form-control" placeholder="Password"><br/>
		</div>
			<button type="submit" class="btn btn-default navbar-btn" ">Sign Up</button>
	</form>
	
  </body>
</html>